<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>itemServlet</servlet-name>
    <servlet-class>com.paulormg.recommendex.server.services.item.ItemServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>itemServlet</servlet-name>
    <url-pattern>/recommendex/item</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.paulormg.recommendex.server.services.user.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/recommendex/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>statsServlet</servlet-name>
    <servlet-class>com.paulormg.recommendex.server.services.stats.StatisticsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>statsServlet</servlet-name>
    <url-pattern>/recommendex/stats</url-pattern>
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Recommendex.html</welcome-file>
  </welcome-file-list>

</web-app>
